@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@400;600&family=Manrope:wght@800&family=Mohave:ital,wght@0,300;1,700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2730;
}
#canvas{
    display: none;
}

.mainMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    /* z-index: 1000; */
}

.image {
    max-width:100%; 
    width: 800px; 
}

.image img {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: absolute;
    top: 71%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 400px;
}

.btns {
    padding: 20px;
    font-family: 'Grenze', serif;
    font-family: 'Manrope', sans-serif;
    font-size: 35px;
    width: 100%; 
    color: aliceblue;
    border: 8px solid white;
    border-radius: 20px;
    margin: 10px 0; 
    text-align: center;
    max-width: 400px; /* Set maximum width */
    box-sizing: border-box;
}

#playBtn {
    background-color: #38a3a5;
    transition: all 100ms ease-in;
}

#exitBtn {
    background-color: #ef233c;
}

/* Media Queries */
@media screen and (max-width: 1920px) {
    
    .image {
        max-width:100%; /* Ensure images are responsive within their parent container */
        width: 800px; /* Set initial width */
    }
    /* .image img {
        width: 80%;
    } */
    .buttons {
        flex-direction: row;
        justify-content: space-around;
        top: 600px;
        width: 60%; /* Reduce button width for smaller screens */
        margin-left: 20px;
    }

    .btns {
        font-size: 3vw; /* Responsive font size based on viewport width */
        /* padding: 7px; Adjust button padding */
    }
}
@media screen and (max-width: 1200px) {
    
    .buttons {
        width: 90%; /* Reduce button width for smaller screens */
    }

    .btns {
        font-size: 4vw; /* Responsive font size based on viewport width */
        padding: 10px; /* Adjust button padding */
    }
}

@media screen and (max-width: 768px) {
    .buttons {
        width: 90%; /* Reduce button width for smaller screens */
    }

    .btns {
        font-size: 5vw; /* Responsive font size based on viewport width */
        padding: 10px; /* Adjust button padding */
    }
}

/* Additional media queries for smaller screens if needed */
